* {
  box-sizing: border-box;
}

body {
  font-size: 16pt;
  padding: 5%;
}

img {
  max-width: 100%;
}


/* Layout */

article {
  font-size: 17pt;
  font-family: "adobe-caslon-pro", Georgia, serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  line-height: 1.45em;
}
h1, h2, h3, h4 {
  font-family: "Gill Sans", Arial, sans-serif;
  font-size: 1em;
}
h1 {
  font-size: 1.5em;
  border-top: 3px solid BLACK;
  padding-top: 0.2em;
  line-height: 0.9em;
}


sidenote,
aside {
  display: block;

  font-size: 0.7em;
  line-height: 1.2em;
  font-family: monospace;
  float: left;
  width: 50%;
  padding: 0 1em 1em 1em;
  color: GRAY;
}
aside figcaption {
  text-align: right;
}

@media screen and (min-width: 760px) {

  article {
    max-width: 720px;
    margin-left: 270px;
  }

  sidenote,
  aside{
    margin-left: -270px;
    width: 260px;
    position: absolute;
    text-align: right;
    color: GRAY;
  }

}

/* Section heading */
h2 a,
h2 a:visited {
  color: black;
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}


/* Nav */
nav {
  display: flex;
  border-top: 1px solid LIGHTGRAY;
  max-width: 1000px;
  font-size: 0.8em;
}
nav > a,
nav > a:visited{
  display: block;
  flex: 1;
  line-height: 1.5em;
  padding: 1em;
  color: BLACK;
  text-decoration: none;
  text-decoration-skip: ink;
  text-align: center;
  border-left: 1px solid LIGHTGRAY;

}
nav > a:hover {
  background: ALICEBLUE;
  text-decoration: underline;
}
nav > a:nth-child(1) {
  text-align: right;
  border-left: none;
}
nav > a:last-child {
  text-align: left;

}

/* Overlay Nav */
.overlay {
  width: 10%;
  height: 100%;
  position: fixed;
  top: 0;
  display: block;
  -webkit-tap-highlight-color: rgba(20,20,20,.2);
}
.overlay.prev {
  left: 0;
}
.overlay.next {
  right: 0;
}


/* Code block */
pre {
  font-size: 12pt;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}


/* visibile toggle */
.out {
  opacity: 0;
  display: none;
}
.in {
  opacity: 1;
  display: block;
}
/* Image Viewer */
img {
  cursor: zoom-in;
}
#overlay > img {
  cursor: zoom-out;
  max-height: 100%;
}
#overlay {
  background-color: rgba(255, 255, 255, 0.96);
  cursor: zoom-out;
  height: 100%;
  left: 0;
  line-height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9999;
}
#overlay-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(252, 252, 252, 1);
  color: #222;
  padding: 0.5em;
  border-top-right-radius: 3px;
}
/* end of overlay */


/* Figure */
figure {
  text-align: center;
}
